<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share Demo</title>
</head>
<body>
  <div id="app">
    <h1>Share Demo</h1>
    <p>
      <span v-if="shareSupported">Click the button to share the link!</span>
      <span v-else>Sharing is not supported in this browser...</span>
    </p>
    <div>
      <button v-if="shareSupported"v-on:click="share()">Share this page</button>
      <div v-else>
        <button v-on:click="copy()">Copy link instead</button>
        <input ref="urlInput" type="hidden" id="testing-code" v-bind:value="url">
        <p v-if="copySuccessful" style="color: #080;">Link copied to clipboard!</p>
        <p v-if="copyFailed">Copy failed...</p>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        copyInfo: {
          attempted: false,
          error: false
        }
      },
      computed: {
        url: function () {
          return window.location.href
        },
        shareSupported: function () {
          return (window.navigator && window.navigator.share)
        },
        shareNotSupported: function () {
          return !this.shareSupported
        },
        copySuccessful: function () {
          return this.copyInfo.attempted && this.copyInfo.error === false
        },
        copyFailed: function () {
          return this.copyInfo.attempted && this.copyInfo.error === true
        }
      },
      methods: {
        share: function () {
          if (this.shareSupported) {
            window.navigator.share({
              title: document.title,
              text: 'Example of sharing!',
              url: this.url
            })
          }
        },
        copy: function () {
          var input = this.$refs.urlInput
          input.setAttribute('type', 'text')
          input.select()
          
          var successful = false
          this.copyInfo.attempted = true

          try {
            successful = document.execCommand('copy')
          } catch (ignore) {}

          this.copyInfo.error = !successful
          input.setAttribute('type', 'hidden')
          window.getSelection().removeAllRanges()
        }
      }
    })
  </script>
</body>
</html>